.gallery {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    padding: 0;
    margin-top: 20px;
    @include tablet {
      flex-wrap: wrap;
      flex-direction: inherit;
      justify-content: space-between;
      background-color: $secondary-color;
      border-radius: 15px;
      padding: 45px 45px 0;
      margin-top: 1.5em;
      gap: 10px;
    }
    @include desktop {
      flex-wrap: wrap;
      flex-direction: inherit;
      justify-content: space-between;
      background-color: $secondary-color;
      border-radius: 15px;
      padding: 45px 45px 0;
      margin-top: 1.5em;
      gap: 10px;
    }
  }