.accommodation_page {
    @include desktop {
        @include margin-desktop;
    }
    @include tablet {
        @include margin-tablet;
    }
    @include mobile {
        @include margin-mobile;
    }
}

.accommodation_container {
    margin-top: 1em;
}

.accommodation_collapses {
    margin-top: 20px;
    display: flex;
    display: flex;
    flex-direction: column;
    @include tablet {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    @include desktop {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        gap: 15px;
    }
   .collapse {
        &_content {
            padding: 15px 15px 0;
        }
    }
}