* {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
}

.header {
  display: flex;
  font-weight: 400;
  color: #FF6060;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_nav ul {
  display: flex;
  flex-direction: row;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  gap: 0.7rem;
}
.header_nav_link {
  font-size: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 150ms ease-in-out;
}
.header_nav_link:hover {
  transform: scale(1.05);
}
.header_nav_link_active {
  text-decoration: underline;
}
.header_logo img {
  width: 140px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .header_nav ul {
    gap: 2rem;
  }
  .header_nav_link {
    font-size: 1.1em;
    text-transform: capitalize;
  }
  .header_logo img {
    width: 130px;
  }
}
@media (min-width: 993px) {
  .header_nav ul {
    gap: 4rem;
  }
  .header_nav_link {
    font-size: 1.3em;
    text-transform: capitalize;
  }
  .header_logo img {
    width: 170px;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8em;
}
.banner_title {
  color: white;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  z-index: 1;
  width: 70%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .banner_title {
    padding: 1em;
    text-align: center;
  }
}
@media (min-width: 993px) {
  .banner_title {
    text-align: center;
    font-size: 45px;
  }
}
.banner_img {
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 8em;
  border-radius: 15px;
  filter: brightness(65%);
}
@media (min-width: 993px) {
  .banner_img {
    height: 11em;
  }
}

.img_banner_about img {
  height: 18em;
}
@media (min-width: 993px) {
  .img_banner_about img {
    height: 12em;
  }
}

.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 190px;
}
.footer_img {
  width: 110px;
}
.footer p {
  font-size: 10px;
  color: white;
}
@media (min-width: 993px) {
  .footer {
    flex-wrap: wrap;
    gap: 15px;
  }
  .footer_img {
    width: 80px;
  }
  .footer p {
    font-size: 15px;
  }
}

.presentation_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 993px) {
  .presentation_container {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .presentation_container {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    margin-bottom: 1em;
  }
}
.presentation_container h1 {
  color: #FF6060;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 12px 0 10px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .presentation_container h1 {
    font-size: 1.3rem;
    margin: 0 0 10px;
  }
}
@media (min-width: 993px) {
  .presentation_container h1 {
    font-size: 2rem;
    margin: 0 0 10px;
    width: 22em;
  }
}
.presentation_container h2 {
  color: #FF6060;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 5px 0 0;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .presentation_container h2 {
    font-size: 0.9rem;
  }
}
@media (min-width: 993px) {
  .presentation_container h2 {
    font-size: 1.1rem;
  }
}

.host_rating_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .host_rating_container {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
  }
}
@media (min-width: 993px) {
  .host_rating_container {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }
}

@media (min-width: 993px) {
  .error_container {
    margin: 40px 60px 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .error_container {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .error_container {
    margin: 15px 25px 20px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
  margin-bottom: 100px;
}
.error_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error_title h1 {
  font-size: 250px;
  font-weight: 700;
  margin: 50px 0 10px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .error_title h1 {
    font-size: 150px;
  }
}
@media screen and (max-width: 768px) {
  .error_title h1 {
    font-size: 100px;
  }
}
.error_title p {
  font-size: 30px;
  text-align: center;
  margin: 0 2em 0;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .error_title p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .error_title p {
    font-size: 15px;
  }
}
.error a {
  margin-top: 7em;
  text-decoration: underline;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .error a {
    margin-top: 10em;
    font-size: 12px;
  }
}

@media (min-width: 993px) {
  .accommodation_page {
    margin: 40px 60px 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .accommodation_page {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .accommodation_page {
    margin: 15px 25px 20px;
  }
}

.accommodation_container {
  margin-top: 1em;
}

.accommodation_collapses {
  margin-top: 20px;
  display: flex;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .accommodation_collapses {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
@media (min-width: 993px) {
  .accommodation_collapses {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
  }
}
.accommodation_collapses .collapse_content {
  padding: 15px 15px 0;
}

@media (min-width: 993px) {
  .home {
    margin: 40px 60px 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .home {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .home {
    margin: 15px 25px 20px;
  }
}

.banner_img_home {
  height: 8em;
}
@media (min-width: 993px) {
  .banner_img_home {
    height: 10em;
  }
}

@media (min-width: 993px) {
  .about {
    margin: 40px 60px 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .about {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    margin: 15px 25px 20px;
  }
}

.about_collapses {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .about_collapses {
    width: 85%;
    margin: 2em auto;
  }
}
@media (min-width: 993px) {
  .about_collapses {
    width: 85%;
    margin: 1.5em auto;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding: 0;
  margin-top: 20px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .gallery {
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 45px 45px 0;
    margin-top: 1.5em;
    gap: 10px;
  }
}
@media (min-width: 993px) {
  .gallery {
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 45px 45px 0;
    margin-top: 1.5em;
    gap: 10px;
  }
}

.accommodation {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  transition: transform 250ms ease-in-out;
}
.accommodation:hover {
  transform: scale(1.02);
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .accommodation {
    width: 48%;
    height: 200px;
    margin-bottom: 30px;
  }
}
@media (min-width: 993px) {
  .accommodation {
    width: 31%;
    height: 290px;
    margin-bottom: 40px;
  }
}
.accommodation .background {
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(251, 251, 251, 0) 40%);
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.accommodation_img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.accommodation_title {
  position: absolute;
  bottom: 0;
  padding-left: 1em;
  font-weight: 300;
  font-size: 18px;
  color: white;
  z-index: 2;
}
@media (min-width: 993px) {
  .accommodation_title {
    font-size: 15px;
  }
}

@keyframes slide {
  0% {
    overflow: hidden;
    max-height: 0%;
    opacity: 0;
  }
  100% {
    max-height: 100%;
    opacity: 1;
  }
}
.collapses {
  margin-top: 1.7em;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .collapses {
    margin-top: 0;
  }
}
@media (min-width: 993px) {
  .collapses {
    margin-top: 0;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.collapse_button {
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.2rem;
  padding: 0 1.2em;
  background-color: #FF6060;
  border-radius: 8px;
}
.collapse_button h2 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}
.collapse_button .arrow-container {
  margin-left: auto;
}
.collapse_button .arrow-container .arrow {
  display: flex;
  font-size: 1.7em;
  color: white;
}
.collapse_button .arrow-container-up {
  transform: rotate(180deg);
}
.collapse_content {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
  margin-top: -0.7em;
  padding: 1.5em 1em 0.5em;
  color: #FF6060;
  background-color: #F6F6F6;
  border-radius: 8px;
  animation: slide 0.7s ease-in-out;
}

.carousel {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}
@media (min-width: 993px) {
  .carousel {
    height: 415px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .carousel {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .carousel {
    height: 255px;
  }
}
.carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 50;
}
.carousel .picture_counter {
  position: absolute;
  color: transparent;
  z-index: 999;
  bottom: 15px;
  left: 50%;
}
@media (min-width: 993px) {
  .carousel .picture_counter {
    color: white;
  }
}
.carousel_arrows {
  display: flex;
  position: absolute;
  z-index: 999;
  align-items: center;
  top: 38%;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding: 0 10px 0;
}
@media screen and (max-width: 768px) {
  .carousel_arrows {
    top: 44%;
  }
}
.carousel_arrow {
  cursor: pointer;
  color: white;
  font-size: 80px;
  height: 80px !important;
  transition: transform 200ms ease-in-out;
}
.carousel_arrow:hover {
  transform: scale(1.06);
}
@media screen and (max-width: 768px) {
  .carousel_arrow {
    font-size: 30px;
    height: 30px !important;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  margin: 10px 0;
}
@media (min-width: 993px) {
  .tags {
    margin-top: 20px;
  }
}
.tags .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7rem;
  height: 1.4rem;
  background-color: #FF6060;
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin-right: 3px;
}
@media (min-width: 993px) {
  .tags .tag {
    height: 1.7rem;
  }
}
.tags .tag h3 {
  font-size: 0.6rem;
  font-weight: 400;
  color: white;
}
@media (min-width: 993px) {
  .tags .tag h3 {
    font-size: 0.9rem;
  }
}

.rating_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .rating_container {
    padding-bottom: 0.5em;
  }
}
@media (min-width: 993px) {
  .rating_container {
    gap: 9px;
  }
}
.rating_container .star {
  font-size: 1.1rem;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .rating_container .star {
    font-size: 1.3rem;
  }
}
@media (min-width: 993px) {
  .rating_container .star {
    font-size: 1.8rem;
  }
}
.rating_container .star-empty {
  color: #E3E3E3;
}
.rating_container .star-full {
  color: #FF6060;
}

.host_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.host_container h3 {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.3rem;
  color: #FF6060;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: right;
  width: 4rem;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .host_container h3 {
    font-size: 0.9rem;
  }
}
@media (min-width: 993px) {
  .host_container h3 {
    font-size: 1.2rem;
  }
}
.host_container img {
  border-radius: 50%;
  height: 50px;
}
@media (min-width: 993px) {
  .host_container img {
    height: 70px;
  }
}/*# sourceMappingURL=main.css.map */